* {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color: rgb(193, 235, 255);
}

h1 {
    font-size: 26px;
    font-weight: 900;
    margin: 0px;    
    color: white;
}

.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(255, 159, 80);
    background-color: rgb(131, 206, 255);
}

.content {
    padding: 50px;
    margin-inline: auto;
}

.footer {
    
}

.calculator {
    border: 4px solid rgb(53, 53, 53);
    border-radius: 12px;
    background-color: rgb(99, 99, 99);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.output {
    border: 2px solid rgb(53, 53, 53);
    background-color: gray;
    border-radius: 8px;
    width: 400px;
    height: 50px;
}

.input {
    border: 2px solid rgb(53, 53, 53);
    background-color: grey;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    background-color: rgb(209, 209, 209);
    border: 2px solid rgb(53, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.button:hover {
    background-color: rgb(126, 126, 126);
}