* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1 {
    color: white;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}

h2 {
    margin: 0px 0px 10px 0px;
}

body {
    background-color: rgb(64, 223, 162);
}

.results-box {
    border-radius: 15px;
    background-color: rgb(250, 126, 126);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 15%;
}

.scorecard {
    margin: 10px;
    text-align: center;
}

.score {
    font-size: 30px;
}

.play-box {
    border-radius: 15px;
    background-color: aliceblue;
    margin: 0px 15%;
}

.info-text {
    font-weight: 700;
    text-align: center;
    padding: 20px 0px 0px 0px;
}

.matchup-display {
    text-align: center;
    padding: 0px 0px 20px 0px;
}

.options-container {
    display: flex;
    margin: 0px 75px;    
    padding: 20px;
}

.option {
    background-color: rgb(250, 126, 126);
    color: white;
    flex-grow: 1;
    margin: 5px;
    height: 50px;
    border-radius: 20px;
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
}

.option:hover {
    background-color: rgb(202, 101, 101);
}

.option:active {
    background-color: rgb(146, 73, 73);
}

.option:disabled {
    background-color: rgb(63, 49, 49);
    color: rgba(255, 255, 255, 0.349);
}